
    .a1{
        border: 50px;
        text-align:center;
        padding: 30px;
    }
    .a2{
        border: 50px;
        text-align:center;
        padding: 30px;
    }
    .a3{
            
        border: 50px;
        text-align: center;
        padding: 30px;
    }
    .a4{
        border: 50px;
        text-align: center;
        padding: 30px;
    }
    .a5{
        border: 50px;
        text-align:center;
        padding: 30px;
    }


